.user-manage {
  padding: 0 1rem;

  .user-manage-form {
    display: flex;
    padding: 1rem 0;
    .btn-create-user {
      .btn-icon {
        display: none;
        @media screen and (max-width: 540px) {
          display: block;
        }
      }
      span {
        display: block;
        margin: 0;
      }
      p {
        @media screen and (max-width: 540px) {
          display: none;
        }
      }
    }
    .input-search {
      width: 200px;
      margin-left: 0.5rem;
    }
  }
  .table-user {
    overflow: auto;

    table {
      background-color: white;
    }
    .table-content {
      td {
        padding: 0.5rem 0;
      }
    }
  }
  .table-action {
    display: flex;
    gap: 8px;
  }
}

@media screen and (max-width: 767px) {
  .user-manage {
    .table-user {
      .ant-table {
        overflow: auto;
      }
    }
  }
}
